* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Libre Baskerville', serif;

}

.header {
    color: aqua;
    text-align: center;
    font-size: 30px;
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin: 10px 40px;
    padding: 40px;
}

.half-width img {
    width: 60%;
    border-left: 10px solid;

}

.order {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10%;
    color: white;
    font-weight: 700;
}

h4 {
    color: darkred;
}

.Naz {
    color: darkcyan;
}